/*
 * Dit is de custom style sheet van jouw website
 *
 */

html, body{
    font-family: sans-serif;
    margin: 0;
    padding: 0; 
  background-image: url(../image/ocean_SandBeach.jpg);
  background-position: center center;
  background-repeat:no-repeat ;
  background-attachment:fixed;
  background-size: 100% 100% ;
  bottom: 0;}

.desc {
	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;	
}

/*foto en titel */
#left {
 float: left; 
    margin-bottom: 1em;
}

#left img {
width: 49%; 
    padding-left: 1%;
}

#left content {
    width: 45%;
    float: right;
    margin-right: 1%;
    border: 1px solid black;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.5);
}
#left p {
    padding-left: 5%;
}

#left h1 {
    padding-left: 5%;
    margin-top: 5%;
}

#right{
float: right;
     margin-bottom: 1em;
}
#right h1 {
    text-align: right;
    padding-right: 5%;
    margin-top: 5%;
}

#right content {
    width: 45%;
    float: left;
    margin-left: 1%;
    border: 1px solid black;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.5);
}

#right p {
    float: right;
    padding-right: 5%;
}

#right img {
width: 49%;
    padding-right: 1%;
    float: right;
}

#LogoHeader {
    width: 100px;
    height: 18px;   
}

#HeaderPic {
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(109,200,204);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav ul {
    list-style-type: none;
    margin-left: -16%;  
}

.sidenav ul li  {
    list-style-type: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: blue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: .5s;
    padding: 16px;
}

    #PageInation li {
        display: inline;          
    }
    #PageInation ul li a {
        text-align: center;
        text-decoration: none;
        margin: 10%;
    }
#PageInation a:hover {
    color: red; 
}

#txtHint {
    margin-left: 5%;
    
}
/* hieronder voor mobile*/
@media (max-width: 800px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
    
    #left img, #right img {
        width: 98%;
    }
     #right p, #left p { 
        color: blue;
     text-align: center}
    h1, #right h1 {
        text-align: center;
    }
    
    #left content {
        width: 96%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #right content {
        width: 95%;
         margin-top: 2%;
        margin-left: 1%;
    }
}

footer{
background-color: rgb(255,109,109);
padding: 20px;
text-align: center;
    clear: both;
    position: relative;
    z-index: 10;  
    margin-top: 5%;
}